.HA_VERSION
.homekit.state
.uuid
._.DS_Store
.google.token
.logi_cache.pickle
aircast.xml
customize.yaml
google_calendars.yaml
home-assistant.log
home-assistant_v2.db
life360.conf
plex.conf
sabnzbd.conf
secrets.yaml

  
.cloud
.homekit
.storage
.TemporaryItems
.Trash-0
.vscode
.google.token
.HA_VERSION
.homekit.state
.ios.conf
.logi_cache.pickle
.smbdeleteAAA22537
.uuid
._*

.DS_Store

www/images/*
www/custom-lovelace
custom_components
www/tmp




# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
aircast.xml
customize.yaml
google_calendars.yaml
home-assistant.log
home-assistant_v2.db
known_devices.yaml
life360.conf
secrets.yaml



home-assistant_v2.db-wal
esphome/.esphome/esphomeyaml.json
esphome/.esphome/esphome.json
plex.conf
sabnzbd.conf
.remember_the_milk.conf
integrations/zones.yaml
integrations/HomeAssitantGoogleAssistantInt-314dd79d69ef.json
